<section class="property-binding">
  <!--<article>
    <h3>Interpolação</h3>
    <p>String renderizada pela interpolação: {{ url }}</p>
    <p>Resultado de 1+1 é: {{ 1 + 1}}</p>
    <p>Resultado de 1+1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Porperty Binding</h3>
    <img [src]="urlImagem" />
    <img bind-src="urlImagem">
  </article>-->

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
      </div>
      <div class="alert" role="alert">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </div>
      <div class="alert" role="alert">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <div class="alert" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
    </div>
  </article>
</section>